{
    "name" : "vmbooter",
    "hostname" : "localhost",
    "routing_key": "vmboot",
    "schedule" :"*/1 * * * *",
    "mq_host": "localhost",
    "mq_port": "5672",
    "mq_user": "",
    "mq_password": "",
    "module": "vmbooter",
    "jump_host": "",
    "jump_user": "",
    "api_host": "",
    "auth_port": "",
    "auth_version": "",
    "nova_username": "",
    "nova_password": "",
    "nova_tenant": "",
    "nova_version": "",
    "vm_id": "",
    "flavor": "",
    "image": ""
}
